# Climate Data Preprocessing

## Download data

In [2]:
import os
import glob

def unpack_data():

    data_dir = '../data/climate'

# Find all .tar.gz files in the data directory
    tar_files = glob.glob(os.path.join(data_dir, '*.zip'))

# Unpack and remove each .tar.gz file
    for tar_file in tar_files:
        os.system(f'tar -xf {tar_file} -C {data_dir}')
        os.remove(tar_file)

In [3]:
import cdsapi

def data_download(year):
    
    c = cdsapi.Client()
    c.retrieve(
        'insitu-gridded-observations-global-and-regional',
        {
            'origin': 'cru',
            'region': 'global',
            'variable': [
                'precipitation', 'temperature',
            ],
            'statistic': [
                'maximum', 'mean',
            ],
            'time_aggregation': 'monthly',
            'horizontal_aggregation': '0_5_x_0_5',
            'year': f'{year}',
            'version': 'v4.03',
            'format': 'zip',
        },
        f'../data/climate/climate_{year}.zip')
       
    return unpack_data()

In [4]:
start_year = 2001
end_year = 2019

for i in range(start_year, end_year + 1):
    data_download(i)

2023-06-08 10:05:50,623 INFO Welcome to the CDS
2023-06-08 10:05:50,624 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-08 10:05:50,847 INFO Request is completed
2023-06-08 10:05:50,849 INFO Downloading https://download-0017.copernicus-climate.eu/cache-compute-0017/cache/data8/dataset-insitu-gridded-observations-global-and-regional-212601fb-200a-406a-8813-133972b4a848.zip to ../data/climate/climate_2001.zip (3.9M)
2023-06-08 10:05:51,407 INFO Download rate 7M/s
2023-06-08 10:05:51,688 INFO Welcome to the CDS
2023-06-08 10:05:51,689 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-08 10:05:51,897 INFO Request is completed
2023-06-08 10:05:51,898 INFO Downloading https://download-0006-clone.copernicus-climate.eu/cache-compute-0006/cache/data8/dataset-insitu-gridded-observations-global-and-regional-3de20bff-d7c6-48ff-adba-6d2f89308647.zip to ../data/climate/climate_2002.zip (3.9M)
2023-06-08 10:05:52,427 INFO Download rate 7.4M/s
2023-06-08 10:05:52,652 INFO Welcome to the CDS
2023-06-08 10:05:52,653 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-08 10:05:52,803 INFO Request is completed
2023-06-08 10:05:52,804 INFO Downloading https://download-0006-clone.copernicus-climate.eu/cache-compute-0006/cache/data4/dataset-insitu-gridded-observations-global-and-regional-be2f1d18-a3d6-4405-86d8-92f918f15cef.zip to ../data/climate/climate_2003.zip (3.9M)
2023-06-08 10:05:53,499 INFO Download rate 5.6M/s
2023-06-08 10:05:53,730 INFO Welcome to the CDS
2023-06-08 10:05:53,731 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-08 10:05:54,114 INFO Request is completed
2023-06-08 10:05:54,115 INFO Downloading https://download-0010-clone.copernicus-climate.eu/cache-compute-0010/cache/data8/dataset-insitu-gridded-observations-global-and-regional-3c4add69-5ca4-4719-abda-2ac42eff2b3a.zip to ../data/climate/climate_2004.zip (3.9M)
2023-06-08 10:05:54,980 INFO Download rate 4.6M/s
2023-06-08 10:05:55,161 INFO Welcome to the CDS
2023-06-08 10:05:55,163 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-08 10:05:55,526 INFO Request is queued
2023-06-08 10:05:56,563 INFO Request is running
2023-06-08 10:05:58,092 INFO Request is completed
2023-06-08 10:05:58,093 INFO Downloading https://download-0006-clone.copernicus-climate.eu/cache-compute-0006/cache/data2/dataset-insitu-gridded-observations-global-and-regional-e66a5fc0-252e-4844-80c2-3fd324544e14.zip to ../data/climate/climate_2005.zip (3.9M)
2023-06-08 10:05:59,048 INFO Download rate 4.1M/s
2023-06-08 10:05:59,268 INFO Welcome to the CDS
2023-06-08 10:05:59,270 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-08 10:05:59,390 INFO Request is queued
2023-06-08 10:06:00,421 INFO Request is running
2023-06-08 10:06:04,228 INFO Request is completed
2023-06-08 10:06:04,230 INFO Downloading https://download-0001-clone.copernicus-climate.eu/cache-compute-0001/cache/data7/dataset-insitu-gridded-observations-global-and-regional-81e6b092-065a-4d2d-81da-8dff54a1ff91.zip to ../data/climate/climate_2006.zip (3.9M)
2023-06-08 10:06:04,666 INFO Download rate 8.9M/s
2023-06-08 10:06:04,852 INFO Welcome to the CDS
2023-06-08 10:06:04,853 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-08 10:06:05,091 INFO Request is completed
2023-06-08 10:06:05,094 INFO Downloading https://download-0011-clone.copernicus-climate.eu/cache-compute-0011/cache/data4/dataset-insitu-gridded-observations-global-and-regional-196ae852-803e-4a5e-934d-ce981892cca6.zip to ../data/climate/climate_2007.zip (3.9M)
2023-06-08 10:06:05,666 INFO Download rate 6.8M/s
2023-06-08 10:06:05,840 INFO Welcome to the CDS
2023-06-08 10:06:05,841 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-08 10:06:05,933 INFO Request is queued
2023-06-08 10:06:06,960 INFO Request is running
2023-06-08 10:06:10,767 INFO Request is completed
2023-06-08 10:06:10,769 INFO Downloading https://download-0001-clone.copernicus-climate.eu/cache-compute-0001/cache/data8/dataset-insitu-gridded-observations-global-and-regional-3073a22b-368d-4d10-af69-eca6d4ff3bdc.zip to ../data/climate/climate_2008.zip (3.9M)
2023-06-08 10:06:11,148 INFO Download rate 10.3M/s
2023-06-08 10:06:11,346 INFO Welcome to the CDS
2023-06-08 10:06:11,348 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-08 10:06:11,527 INFO Request is completed
2023-06-08 10:06:11,528 INFO Downloading https://download-0010-clone.copernicus-climate.eu/cache-compute-0010/cache/data7/dataset-insitu-gridded-observations-global-and-regional-c4e702bf-624e-4b0b-87f8-e93cd5092601.zip to ../data/climate/climate_2009.zip (3.9M)
2023-06-08 10:06:11,996 INFO Download rate 8.3M/s
2023-06-08 10:06:12,184 INFO Welcome to the CDS
2023-06-08 10:06:12,185 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-08 10:06:12,310 INFO Request is completed
2023-06-08 10:06:12,312 INFO Downloading https://download-0012-clone.copernicus-climate.eu/cache-compute-0012/cache/data3/dataset-insitu-gridded-observations-global-and-regional-dd9a5e19-3d2f-44d4-972b-75514a6a2671.zip to ../data/climate/climate_2010.zip (3.9M)
2023-06-08 10:06:12,775 INFO Download rate 8.4M/s
2023-06-08 10:06:13,074 INFO Welcome to the CDS
2023-06-08 10:06:13,077 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-08 10:06:13,186 INFO Request is queued
2023-06-08 10:06:14,213 INFO Request is running
2023-06-08 10:06:18,024 INFO Request is completed
2023-06-08 10:06:18,025 INFO Downloading https://download-0011-clone.copernicus-climate.eu/cache-compute-0011/cache/data0/dataset-insitu-gridded-observations-global-and-regional-35ea6737-f7df-4e86-a42e-8251f055bb17.zip to ../data/climate/climate_2011.zip (3.9M)
2023-06-08 10:06:18,684 INFO Download rate 5.9M/s
2023-06-08 10:06:18,917 INFO Welcome to the CDS
2023-06-08 10:06:18,919 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-08 10:06:19,033 INFO Request is completed
2023-06-08 10:06:19,037 INFO Downloading https://download-0016.copernicus-climate.eu/cache-compute-0016/cache/data0/dataset-insitu-gridded-observations-global-and-regional-5a5deaab-4352-4a7f-a71b-69da686a4acf.zip to ../data/climate/climate_2012.zip (3.9M)
2023-06-08 10:06:19,887 INFO Download rate 4.6M/s
2023-06-08 10:06:20,087 INFO Welcome to the CDS
2023-06-08 10:06:20,089 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-08 10:06:20,322 INFO Request is completed
2023-06-08 10:06:20,323 INFO Downloading https://download-0017.copernicus-climate.eu/cache-compute-0017/cache/data9/dataset-insitu-gridded-observations-global-and-regional-e195b885-71b3-4ac2-83ac-b2825a8e4ad6.zip to ../data/climate/climate_2013.zip (3.9M)
2023-06-08 10:06:20,744 INFO Download rate 9.2M/s
2023-06-08 10:06:20,944 INFO Welcome to the CDS
2023-06-08 10:06:20,945 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-08 10:06:21,075 INFO Request is completed
2023-06-08 10:06:21,077 INFO Downloading https://download-0021.copernicus-climate.eu/cache-compute-0021/cache/data1/dataset-insitu-gridded-observations-global-and-regional-39748ee0-3b03-472a-835c-3a66793496ce.zip to ../data/climate/climate_2014.zip (3.9M)
2023-06-08 10:06:22,457 INFO Download rate 2.8M/s
2023-06-08 10:06:22,703 INFO Welcome to the CDS
2023-06-08 10:06:22,705 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-08 10:06:22,836 INFO Request is completed
2023-06-08 10:06:22,838 INFO Downloading https://download-0021.copernicus-climate.eu/cache-compute-0021/cache/data7/dataset-insitu-gridded-observations-global-and-regional-37bf9a63-3d1d-4566-9a08-b0acaedafed1.zip to ../data/climate/climate_2015.zip (3.9M)
2023-06-08 10:06:23,314 INFO Download rate 8.2M/s
2023-06-08 10:06:23,527 INFO Welcome to the CDS
2023-06-08 10:06:23,528 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-08 10:06:23,632 INFO Request is queued
2023-06-08 10:06:24,716 INFO Request is running
2023-06-08 10:06:26,249 INFO Request is completed
2023-06-08 10:06:26,251 INFO Downloading https://download-0009-clone.copernicus-climate.eu/cache-compute-0009/cache/data4/dataset-insitu-gridded-observations-global-and-regional-a9b32d1c-ecad-4441-9dae-ce823593dd65.zip to ../data/climate/climate_2016.zip (3.9M)
2023-06-08 10:06:26,810 INFO Download rate 6.9M/s
2023-06-08 10:06:27,035 INFO Welcome to the CDS
2023-06-08 10:06:27,036 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-08 10:06:27,601 INFO Request is completed
2023-06-08 10:06:27,602 INFO Downloading https://download-0019.copernicus-climate.eu/cache-compute-0019/cache/data7/dataset-insitu-gridded-observations-global-and-regional-5f2e8bac-d4cd-4073-88b4-919d5a8ecff8.zip to ../data/climate/climate_2017.zip (3.8M)
2023-06-08 10:06:28,230 INFO Download rate 6.2M/s
2023-06-08 10:06:28,522 INFO Welcome to the CDS
2023-06-08 10:06:28,523 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-08 10:06:28,680 INFO Request is completed
2023-06-08 10:06:28,681 INFO Downloading https://download-0002-clone.copernicus-climate.eu/cache-compute-0002/cache/data1/dataset-insitu-gridded-observations-global-and-regional-8042f94d-4fa7-4a71-a29b-9ba25d809632.zip to ../data/climate/climate_2018.zip (3.8M)
2023-06-08 10:06:29,139 INFO Download rate 8.5M/s
2023-06-08 10:06:29,350 INFO Welcome to the CDS
2023-06-08 10:06:29,351 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/insitu-gridded-observations-global-and-regional
2023-06-08 10:06:29,746 INFO Request is completed
2023-06-08 10:06:29,747 INFO Downloading https://download-0006-clone.copernicus-climate.eu/cache-compute-0006/cache/data3/dataset-insitu-gridded-observations-global-and-regional-41794e24-33f7-4111-8f6c-b1ce59564f9a.zip to ../data/climate/climate_2019.zip (3.8M)
2023-06-08 10:06:30,389 INFO Download rate 6M/s

## Select data

In [5]:
import xarray as xr
import pandas as pd

lat_low = 32.75
lat_high = 52
lon_low = -10.25
lon_high = 50

def climate_preprocessing(file_path):
    frame = xr.open_dataset(file_path, engine='netcdf4').to_dataframe()
    frame.reset_index(inplace=True)
    frame['month'] = frame['time'].dt.month
    frame['year'] = frame['time'].dt.year
    frame.drop('time', inplace=True, axis=1)  
    frame = frame[(frame['lat']>=lat_low) & (frame['lat']<=lat_high) & (frame['lon']>=lon_low) & (frame['lon']<=lon_high)]
    return frame

In [6]:
def merge_years(climate_var, data_dir):
    dfs = []
    for file_name in os.listdir(data_dir):
        if file_name.endswith('.nc') and climate_var in file_name:
            file_path = os.path.join(data_dir, file_name)
            df = climate_preprocessing(file_path)
            dfs.append(df)
    final_df = pd.concat(dfs, ignore_index=True)
    return final_df

In [7]:
data_dir = '../data/climate'

df_mean_temperature = merge_years('CRU_mean_temperature', data_dir)
df_maximum_temperature = merge_years('CRU_maximum_temperature', data_dir)
df_total_precipitation = merge_years('CRU_total_precipitation', data_dir)

df_all = df_mean_temperature.copy()
df_all.drop('tas', inplace=True, axis=1)
df_all = pd.merge(df_all, df_mean_temperature, on=['lon','lat','month','year'])
df_all = pd.merge(df_all, df_maximum_temperature, on=['lon','lat','month','year'])
df_all = pd.merge(df_all, df_total_precipitation, on=['lon','lat','month','year'])

df_all

           lon    lat  month  year  tas  tasmax         pr
0       -10.25  32.75      1  2007  NaN     NaN        NaN
1       -10.25  33.25      1  2007  NaN     NaN        NaN
2       -10.25  33.75      1  2007  NaN     NaN        NaN
3       -10.25  34.25      1  2007  NaN     NaN        NaN
4       -10.25  34.75      1  2007  NaN     NaN        NaN
...        ...    ...    ...   ...  ...     ...        ...
1075927  49.75  49.75     12  2015 -2.0     0.9  37.100002
1075928  49.75  50.25     12  2015 -2.4     0.5  40.799999
1075929  49.75  50.75     12  2015 -2.2     0.7  44.799999
1075930  49.75  51.25     12  2015 -2.5     0.2  50.200001
1075931  49.75  51.75     12  2015 -2.7    -0.4  51.500000

[1075932 rows x 7 columns]

## Create columns by month

In [8]:
pd.options.mode.chained_assignment = None
pd.options.display.float_format = "{:,.2f}".format

months_number = 4
first_month = 5

data_per_month = []

for i in range(first_month,first_month+months_number):
    frame = df_all[(df_all['month']==i)]
    frame.drop('month', inplace=True, axis=1)
    data_per_month.append(frame)
    
df_all_months = data_per_month[0].copy()

for i in range(0,months_number):
    df_all_months = pd.merge(df_all_months, data_per_month[i], on=['lon','lat','year'], suffixes=('', f'_{i+5}'))

df_all_months.drop(['tas','tasmax','pr'], inplace=True, axis=1)
df_all_months

,lon,lat,year,tas_5,tasmax_5,pr_5,tas_6,tasmax_6,pr_6,tas_7,tasmax_7,pr_7,tas_8,tasmax_8,pr_8
0,-10.25,32.75,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-10.25,33.25,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-10.25,33.75,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-10.25,34.25,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-10.25,34.75,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89656,49.75,49.75,2015,18.60,24.40,21.40,26.30,33.20,15.90,24.80,31.20,18.00,22.90,30.40,9.70
89657,49.75,50.25,2015,18.40,24.20,23.70,26.10,33.00,19.40,24.40,30.70,21.20,22.60,29.90,11.60
89658,49.75,50.75,2015,18.40,24.10,28.80,25.70,32.40,22.00,23.70,29.90,25.50,21.80,28.90,13.40
89659,49.75,51.25,2015,17.80,23.60,32.70,24.90,31.60,25.50,22.60,28.60,32.00,20.80,27.60,15.90
89660,49.75,51.75,2015,17.60,23.30,34.40,24.50,31.00,28.20,22.20,28.00,39.20,20.50,26.90,17.40

## Increase spatial resolution

In [9]:
df_all_months['constant'] = 0.25
df_all_bis = df_all_months.copy()
df_all_bis['lon'] = df_all_bis['lon'] + df_all_bis['constant']
df_all_tris = df_all_months.copy()
df_all_tris['lat'] = df_all_tris['lat'] + df_all_tris['constant']
df_all_quatris = df_all_months.copy()
df_all_quatris['lon'] = df_all_quatris['lon'] + df_all_tris['constant']
df_all_quatris['lat'] = df_all_quatris['lat'] + df_all_tris['constant']

dfs = [df_all_months, df_all_bis, df_all_tris, df_all_quatris]

df_final = pd.concat(dfs, ignore_index=True)
df_final = df_final.drop(['constant'], axis=1)
df_final = df_final[df_final.lon != lon_low]
df_final = df_final[df_final.lat != lat_low]
df_final = df_final.sort_values(['year','lon','lat'])
df_final = df_final.reset_index()
df_final = df_final.drop(['index'], axis=1)
df_final

,lon,lat,year,tas_5,tasmax_5,pr_5,tas_6,tasmax_6,pr_6,tas_7,tasmax_7,pr_7,tas_8,tasmax_8,pr_8
0,-10.00,33.00,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-10.00,33.25,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-10.00,33.50,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-10.00,33.75,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-10.00,34.00,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352578,50.00,51.00,2019,19.90,26.30,24.60,24.00,31.30,19.60,23.60,30.20,35.00,20.80,27.30,18.10
352579,50.00,51.25,2019,19.20,25.60,27.90,22.90,30.10,21.70,22.80,29.20,37.50,19.90,26.10,24.50
352580,50.00,51.50,2019,19.20,25.60,27.90,22.90,30.10,21.70,22.80,29.20,37.50,19.90,26.10,24.50
352581,50.00,51.75,2019,18.80,25.20,29.50,22.40,29.30,22.80,22.40,28.60,40.50,19.60,25.50,30.20
352582,50.00,52.00,2019,18.80,25.20,29.50,22.40,29.30,22.80,22.40,28.60,40.50,19.60,25.50,30.20

## Save data in CSV file

In [10]:
df_final.to_csv('../data/climate.csv')

In [11]:
print('test')

test